div .square {
  box-sizing: border-box;
  height: 100%;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
}

#board {
  box-sizing: border-box;
  width: 50vw;
  height: 50vw;
}